DOCKERHUB_USER=gilachone
IMAGE_TAG=1.1
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=shop
POSTGRES_USER=shop
# Демонстрационный пароль для локального учебного стенда.
POSTGRES_PASSWORD=shop_password
WEB_PORT=8090
TZ=Europe/Moscow
PGTZ=Europe/Moscow
